
.about-page-wrapper{
    margin: 10px;
    display: flex;
    justify-content: center;
}
.aboutus{
    width: 40%;
    text-align: left;
    margin-bottom: 20px;
}
.about-title{
    padding: 10px;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.about-desc{
    padding: 10px;
    margin-left: 20px;
    font-size: 1.3em;
    white-space: pre-line;
    color: #333333;
    line-height: 2em;
}
.about-credit {
    font-size: 0.9em;
    margin-left: 20px;
    color: #333333;
}
.about-image img{
    width: 500px;
}
.welcome {
    text-decoration: underline;
}
.streetlight {
    color: #FFC000;
}
@media screen and (max-width: 1024px) {
    .about-page-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .aboutus{
        width: 550px;
        margin: 0px auto;
        margin-bottom: 20px;
    }

  }
  @media screen and (max-width: 550px) {
    .about-image img{
        width: 100%;
    }
    .aboutus{
        width: 100%;
    }
    .about-desc{
    }
    .about-credit {
        font-size: 0.9em;
        margin-left: 20px;
        color: #333333;
    }

  }