
.about-page-wrapper{
    margin: 10px;
    display: flex;
    justify-content: center;
}
.aboutus{
    width: 30%;
    text-align: center;
    border: 1px solid black;
}
.about-title{
    padding: 10px;
    font-size: 2em;
}
.about-desc{
    padding: 10px;
    font-size: 1.2em;
}