.single{
    word-wrap: break-word;
}
.singlepost{
    display: flex;
    margin: auto;
    width: 80%;
    margin-bottom: 50px;
    animation: 1.5s ease-out 0s 1 slide;
}

.postimage{
    flex: 6;
    position: sticky;
    top: 20px;
    align-self: flex-start;
}
.single-postimage{
    width: 95%;
}
.postbody{
    margin-left: 30px;
    margin-right: -70px;
    flex: 4;
    padding: 30px;
    font-size: 1.1em;
}
.post-title{
    text-align: center;
    padding: 20px;
}
.paragraph{
    font-size: 1.3em;
}
.desc{
    text-align: center;
    font-size: 1.2em;
}

@media only screen and (max-width: 600px){
    .singlepost{
        flex-direction: column;
    }
    .postimage{
        position: relative;
        align-self: center;
        width: 500px;
    }
    .postbody{
        border: 1px solid blue; 
        align-self: center;
        margin-left: 0px;
        margin-right: 0px;
        width:  100%;
    }
}
