.welcome-outer {
    background: #e8e8e8;
    height: 200vh;
    display: flex;
    justify-content: center;

}

.welcome-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-text {
    font-size: 2.5vw;
    line-height: 170%;
    text-align: left;
    letter-spacing: 5px;
}

.welcome-img {
    width: 200px;
}

.link {
    color: #e3b721;
}

@media screen and (max-width: 1024px) {
    .welcome-text {
        font-size: 3vw;
    }
}

@media screen and (max-width: 550px) {
    .welcome-text {
        font-size: 5vw;
    }

    .welcome-img {
        width: 200px;
    }
}