.left-sidebar {
    flex: 1;
    background: #CCCCCC;
}
.left-sidebar ul {
    padding: 25px;
}
.left-sidebar a{
    margin: 20px 0px;
    display: block;
    padding: 5px;
    width: 100%;
    font-size: 1.2em;
}
.left-sidebar a:hover{
    background: #AAAAAA;
}