.post-wrapper {
    width: 100%;
    position: relative;
}

.slick-initialized { overflow: hidden; }

.slick-slide>div {
    margin: 0 25px;
}

.slick-list {
    position: relative;
    margin-left: -25px;
    margin-right: 15px;
}

.slider-image,
.slider-link {
    width: 100%;
    opacity: 1;
    transition: 1s ease-in;
    transition: 0.5s ease-out;
}
.grey{
    filter: grayscale(100%);
}

.post {
    position: relative;
    width: 100%;
    margin: 20px;
    background-color: black;
    border: 1px solid red;
}

.middle {
    transition: 1s ease-in;
    transition: 0.5s ease-out;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.post:hover .slider-image {
    opacity: 0.2;
}

.post:hover .middle {
    opacity: 1;
}
.hovertitle, .hovertext{
    margin: 0px 20px;
    padding: 15px;
    color: white;
    word-break: break-all;
    font-size: 1.8em;
}
